/* Import Font Open-sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Variables */
:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
}

.page {
    background-color: #f1f5f9;
    min-height: 100vh;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Start Component */
.box {
    background-color: white;
    padding: 15px;
    border-radius: 15px;
}

.c-blue {
    color: #0075ff;
}

.bg-blue {
    background-color: #0075ff;
}

.bg-alt-blue {
    background-color: rgb(0 117 255 / 20%);
}

.c-orange {
    color: #f59e0b;
}

.bg-orange {
    background-color: #f59e0b;
}

.bg-alt-orange {
    background-color: rgb(245 158 11 / 20%);
}

.c-green {
    color: #22c55e;
}

.bg-green {
    background-color: #22c55e;
}

.bg-alt-green {
    background-color: rgb(34 197 94 / 20%);
}

.c-red {
    color: #f44336;
}

.bg-red {
    background-color: #f44336;
}

.bg-alt-red {
    background-color: rgb(244 67 54 / 20%);
}

.bg-twitter {
    background-color: #1da1f2;
}

.alt-bg-twitter {
    background-color: rgb(29 161 242 / 20%);
    color: #1da1f2;

}

.bg-facebook {
    background-color: #1877f2;
}

.alt-bg-facebook {
    background-color: rgb(24 119 242 / 20%);
    color: #1da1f2;
}

.bg-youtube {
    background-color: #ff0000;
}

.alt-bg-youtube {
    background-color: rgb(255 0 0 / 20%);
    color: #ff0000;
}

.bg-linkedin {
    background-color: #0077b5;
}

.alt-bg-linkedin {
    background-color: rgb(0 119 181 / 20%);
    color: #0077b5;
}

/* Toggle Checkbox */
.toggle-checkbox {
    appearance: none;
}

.toggle-switch {
    width: 78px;
    background: #ccc;
    height: 32px;
    border-radius: 16px;
    position: relative;
}

.toggle-switch::before {
    content: "\f00d";
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: white;
    top: 6px;
    left: 4px;
    font-family: "Font Awesome 6 Pro";
    font-weight: 900;
    font-size: 12px;
    color: #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;

}


.toggle-checkbox:checked + .toggle-switch {
    background-color: var(--blue-color);
   
}

.toggle-checkbox:checked + .toggle-switch::before {
    content: "\f00c";
    left: 50px;
}

.title {
    margin: 0;
    margin-bottom: 5px;
}

.sub-title {
    color: var(--grey-color);
    font-size: 15px;
    display: block;
    margin-bottom: 25px;
}
/* End Component */

/* => For Scroll */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
} 
/* Start Sidebar */
.sidebar {
   width: 250px; 
   box-shadow: 0 0 10px #ddd;
}

.sidebar > h3 {
    margin-bottom: 50px;
}

.sidebar > h3::before,
.sidebar > h3:after {
    content: "";
    background-color: black;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.sidebar > h3::before {
    width: 80px;
    height: 2px;
    bottom: -17px;
}

.sidebar > h3:after {
    bottom: -25px;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    border: 4px solid white;
}

.sidebar ul li a {
    transition: 0.3s;
    margin-bottom: 5px;
    transition: 0.3s;
}

.sidebar ul li a:hover, 
.sidebar ul li a.active {
    background-color: #f6f6f6;
}

.sidebar ul li a span {
    font-size: 14px;
    margin-left: 10px;
}

@media (max-width: 767px) {
    .sidebar {
        width: 58px;
    }

    .sidebar > h3 {
        font-size: 13px;
        margin-bottom: 15px;
    }

    .sidebar > h3:before,
    .sidebar > h3:after {
        display: none;
    }

    .sidebar ul li a span {
        display: none;
    }
}

/* End Sidebar */
/* Start Content */
/* => Head */
.content {
    overflow: hidden;
    width: 100%;
}

.content .head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: white;
}

.content .head .search {
    position: relative;
}

.content .head .search::before {
    content: "\f002";
    font-family: "Font Awesome 6 Pro";
    font-weight: 900;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    font-size: 14px;
    color: var(--grey-color);

}

.content .head .search input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 30px;
    width: 160px;
    transition: 0.4s;
}

.content .head .search input:focus {
    width: 250px;
}

.content .head .icons {
    display: flex;
    align-items: center;
}

.content .head .icons span {
    position: relative;
}

.content .head .icons span::before {
    content: "";
    background-color: red;
    width: 8px;
    height: 8px;
    display: block;
    position: absolute;
    top: -3px;
    left: -3px;
    border-radius: 50%;
}

.content .head .icons span i {
    margin-right: 10px;
}

.content .head .icons img {
    width: 32px;
    height: 32px;
}

/* => Heading Word */
.content h1 {
    margin: 20px 20px 40px;
    position: relative;
}

.content h1::before,
.content h1::after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    position: absolute;
    bottom: -10px;
    left: 3px;
}

.content h1::before {
    background-color: white;
}

.content h1::after {
    background-color: black;
    width: 40px;
}

/* => Wrapper */
.content .wrapper {
    margin-left: 15px;
    margin-right: 15px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr) );
}

@media (max-width: 767px) {
    .content .wrapper {
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
        grid-template-columns: minmax(200px, 1fr);
    }
}

/* 
|-----------------------------------|
|---------- Dashboard Style --------|
|-----------------------------------|
*/

/* => Content => Wrapper => Welcome */
.content .wrapper .welcome {
    background-color: white;
} 

.content .wrapper .welcome .intro {
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.content .wrapper .welcome .intro div h2 {
    margin: 0;
}

.content .wrapper .welcome .intro div span {
    color: var(--grey-color);
    margin-top: 5px;
}

.content .wrapper .welcome .intro img {
    width: 170px;
}

.content .wrapper .welcome img.photo {
    width: 64px;
    border: 2px solid white;
    margin-top: -32px;
    display: block;
    border-radius: 50%;
    padding: 2px;
    box-shadow: 0 0 5px #ddd;
    margin-left: 20px;
}

.content .wrapper .welcome .body {
    display: flex;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.content .wrapper .welcome .body > div {
    flex: 1;
}

.content .wrapper .welcome .body div span {
    display: block;
    color: var(--grey-color);
    margin-top: 10px;
    font-size: 14px;
}

.content .wrapper .welcome a {
    color: white;
    background-color: var(--blue-color);
    padding: 7px;
    border-radius: 7px;
    display: block;
    width: fit-content;
    margin: 0 15px 20px auto;
    font-size: 14px;
    transition: 0.4s;
}

.content .wrapper .welcome a:hover {
    background-color: var(--blue-alt-color);
}

/* => Content => Wrapper => Quick Draft */
.content .wrapper .quick-draft h2 {
    margin: 0;
    margin-bottom: 15px;
}

.content .wrapper .quick-draft span {
    display: block;
    color: var(--grey-color);
    font-size: 15px;
}

.content .wrapper .quick-draft form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin: 25px 0 15px;
}

.content .wrapper .quick-draft form input:not(input[type=submit]) {
    padding: 10px;
    background-color: #eee;
    border: none;
    border-radius: 7px;
}

.content .wrapper .quick-draft form textarea {
    background-color: #eee;
    padding: 10px;
    border: none;
    border-radius: 7px;
    height: 200px;
}

.content .wrapper .quick-draft form input[type=submit] {
    width: fit-content;
    background-color: var(--blue-color);
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 7px;
    align-self: flex-end;
}

/* => Content => Wrapper => Targets */

.content .wrapper .targets h2 {
    margin: 0;
}

.content .wrapper .targets p {
    color: var(--grey-color);
}

.content .wrapper .targets .target-row {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    margin-bottom: 10px;
}

.content .wrapper .targets .target-row .details {
    flex: 1;
}

.content .wrapper .targets .target-row .icon {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .wrapper .targets .target-row .background-alt-blue { background-color: rgb(0 117 255 / 20%); }

.content .wrapper .targets .target-row .background-alt-orange { background-color: rgb(245 158 11 / 20%); }

.content .wrapper .targets .target-row .background-alt-green { background-color: rgb(34 197 94 / 20%); }

.content .wrapper .targets .target-row .icon i {
    font-size: 20px;
}

.content .wrapper .targets .target-row span:first-child {
    color: var(--grey-color);
    display: block;
    margin-bottom: 5px;
}

.content .wrapper .targets .target-row span:nth-child(2) {
    font-weight: bold;
}

.content .wrapper .targets .target-row .progress {
    height: 3px;
    margin-top: 8px;
    position: relative;
}

.content .wrapper .targets .target-row .progress .parent-span {
    position: absolute;
    height: 3px;
}

.content .wrapper .targets .target-row .progress .background-blue { background: var(--blue-color); }
.content .wrapper .targets .target-row .progress .background-orange { background: var(--orange-color); }
.content .wrapper .targets .target-row .progress .background-green { background: var(--green-color); }

.content .wrapper .targets .target-row .progress .parent-span > span {
    position: absolute;
    top: -30px;
    right: -10px;
    color: white;
    border-radius: 4px;
    padding: 2px;
    font-size: 11px;
}

.content .wrapper .targets .target-row .progress .parent-span > span::before {
    content: "";
    position: absolute;
    top: 19px;
    left: 9px;
    border-style: solid;
    border-width: 4px;
}

.content .wrapper .targets .target-row .progress .background-blue::before {border-color: var(--blue-color) transparent transparent transparent;}
.content .wrapper .targets .target-row .progress .background-orange::before {border-color: var(--orange-color) transparent transparent transparent;}
.content .wrapper .targets .target-row .progress .background-green::before {border-color: var(--green-color) transparent transparent transparent;}

/* => Content => Wrapper => Tickets Statistics */
.content .wrapper .tickets {
    
}

.content .wrapper .tickets .title {
    margin: 0;
    margin-bottom: 10px;
}

.content .wrapper .tickets .sub-title {
    color: var(--grey-color);
    font-size: 15px;
}

.content .wrapper .tickets .statistics {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 15px;
}

.content .wrapper .tickets .statistics .stat {
    width: calc(50% - 20px);
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    padding: 15px 0;
}

@media (max-width: 768px) {
    .content .wrapper .tickets .statistics .stat {
        width: 100%;
    }
}

.content .wrapper .tickets .statistics .stat i {
    font-size: 22px;
}

.content .wrapper .tickets .statistics .stat h2 {
    margin: 5px 0;
    font-size: 20px;
}

.content .wrapper .tickets .statistics .stat span {
    color: var(--grey-color);
    font-size: 15px;
}

/* => Content => Wrapper => latest-news */

.latest-news {}

.latest-news h2 {
    margin: 0;
    margin-bottom: 15px;
}

.latest-news .news-row {
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-bottom: 40px;
    position: relative;
}

@media (max-width: 768px) {
    .latest-news .news-row {
        flex-direction: column;
        row-gap: 20px;
        text-align: center;
    }
}

.latest-news .news-row:not(:last-child):before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #eee;
    position: absolute;
    bottom: -18px;
    left: 0;
}

.latest-news .news-row img {
    width: 100px;
    border-radius: 8px;
}

.latest-news .news-row .info {
    flex: 1;
}

.latest-news .news-row .info h3 {
    margin: 0;
    font-size: 16px;
}

.latest-news .news-row .info p {
    margin: 0;
    margin-top: 5px;
    color: var(--grey-color);
    font-size: 14px;
}

.latest-news .news-row .date {
    background-color: #eee;
    font-size: 13px;
    padding: 6px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .latest-news .news-row .date {
        margin-left: auto
    }
}

/* => Content => Wrapper => latest-tasks */
.latest-tasks h2 {
    margin: 0;
    margin-bottom: 20px;
}

.latest-tasks .task-row {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    position: relative;
}

.latest-tasks .done {
    opacity: 0.3;
}

.latest-tasks .done h3, 
.latest-tasks .done p {
    text-decoration: line-through;
}

.latest-tasks .task-row:last-child {
    margin-bottom: 0;
}

.latest-tasks .task-row:not(:last-child)::before {
    content: '';
    position: absolute;
    bottom: -18px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #eee;
}

.latest-tasks .task-row .info {
    flex: 1;
}

.latest-tasks .task-row .info h3 {
    margin: 0;
    margin-bottom: 8px;
    font-size: 15px;
}

.latest-tasks .task-row .info p {
    margin: 0;
    color: var(--grey-color);
}

/* => Content => Wrapper => top-search-items */
.top-search-items {}

.top-search-items h2 {
    margin: 0;
    margin-bottom: 20px;
}

.top-search-items .row-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--grey-color);
}

.top-search-items .row-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.top-search-items .row-search:last-child {
    margin-bottom: 0;
}

.top-search-items .row-search span {
    background-color: #eee;
    font-size: 13px;
    padding: 5px;
    border-radius: 6px;
}

/* => Content => Wrapper => Uploads */
.uploads h2 {
    margin: 0;
    margin-bottom: 20px;
}

.uploads .upload-row {
    display: flex;
    column-gap: 15px;
    align-items: center;
    margin-bottom: 25px;
}

.uploads .upload-row:last-child {
    margin-bottom: 0;
}

.uploads .upload-row img {
    width: 40px;
    height: 40px;
}

.uploads .upload-row .info {
    flex: 1;
}

.uploads .upload-row .info .file-name {}

.uploads .upload-row .info .name {
    color: var(--grey-color);
}

.uploads .upload-row .size {
    background-color: #eee;
    font-size: 12px;
    padding: 5px 6px;
    border-radius: 5px;
}

/* => Content => Wrapper => Last Project Progress */
.project-progress {
    position: relative;
}

.project-progress h2 {
    margin: 0;
    margin-bottom: 30px;
}

.project-progress ul {
    margin-left: 35px;
    position: relative;
}

.project-progress ul::before {
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -22px;
    background-color: var(--blue-color);
}

.project-progress ul li {
    margin: 30px 0;
    position: relative;
}

.project-progress ul li::before {
    content: '';
    position: absolute;
    top: 0;
    left: -33px;
    border-radius: 50%;
    border: 2px solid white;
    width: 20px;
    height: 20px;
    background-color: white;
    outline: 2px solid var(--blue-color);
}

.project-progress ul li.in-progress::before {
    animation: change-color 0.8s infinite alternate;
}

@keyframes change-color {
    from {
        background-color: var(--blue-color);
    }
    to {
        background-color: white;
    }
}


.project-progress ul li.done::before {
    background-color: var(--blue-color);
    outline: 2px solid var(--blue-color);
}

.project-progress img {
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0.1;
    width: 160px;
}

/* => Content => Wrapper => Reminders */
.reminders .row {
    margin-left: 50px;
    position: relative;
}

.reminders .row::before {
    content: "";
    position: absolute;
    top: 0;
    left: -19px;
    width: 2px;
    height: 43px;
    
}

.reminders .row:first-of-type::before,
.reminders .row:first-of-type::after {
    background-color: var(--green-color);
}

.reminders .row:nth-child(3)::before,
.reminders .row:nth-child(3)::after {
    background-color: var(--blue-color);
}

.reminders .row:nth-child(4)::before,
.reminders .row:nth-child(4)::after {
    background-color: var(--orange-color);
}

.reminders .row:last-of-type::before,
.reminders .row:last-of-type::after {
    background-color: var(--red-color);
}

.reminders .row::after {
    content: "";
    position: absolute;
    top: 13px;
    left: -49px;
    width: 15px;
    height: 15px;
    background: var(--blue-color);
    border-radius: 50%;
}

.reminders .row p {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 3px;
}

.reminders .row span {
    color: var(--grey-color);
    font-size: 12px;
}   

/* => Content => Wrapper => Last-Post */
.last-post .post .info {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.last-post .post .info img {
    width: 50px;
}


.last-post .post .info .text p {
    margin: 0;
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 15px;
}

.last-post .post .info .text span {
    color: var(--grey-color);
    font-size: 14px;
}

.last-post .post p.body {
    line-height: 1.8;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 25px 0 60px;
    margin: 20px 0 30px;
}

.last-post .post .footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: var(--grey-color);
}

/* => Content => Wrapper => Last-Post */
.social-stats .stats .row {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.social-stats .stats .row {
    column-gap: 15px;
    
}

.social-stats .stats .row:hover i {
    transition: 0.3s;
    transform: rotate(5deg);
}

.social-stats .stats .row i {
    color: white;
    font-size: 32px;
    padding: 10px;
    width: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-stats .stats .row p {
    flex: 1;
}

.social-stats .stats .row span {
    color: white;
    padding: 10px;
    font-size: 13px;
    padding: 4px 10px;
    border-radius: 6px;
    margin-right: 15px;
}

/* => Content => Projects */
.projects {
    margin: 20px;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.projects p {
    margin: 0;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 700;
}

.projects .responsive-table {
    overflow-x: auto;
}

.projects table {
    width: 100%;
    min-width: 1000px;
    border-spacing: 0;
    margin-bottom: 20px;
}

.projects table thead th {
    text-align: left;
    background: #eee;
    padding: 15px 0;
    font-size: 15px;
    padding-left: 15px;
}

.projects table tbody tr {

}

.projects table tbody tr td {
    padding: 15px;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    transition: 0.3;
}

.projects table tbody tr:hover td {
    background-color: #faf7f7;
}

.projects table tbody tr td:last-child{
    border-right: 1px solid #eee;
}

.projects table tbody tr td img {
    width: 32px;
    border-radius: 50%;
    padding: 2px;
    background: white;
}

.projects table tbody tr td img:not(:first-child) {
    margin-left: -20px;
}

.projects table tbody tr td span {
    color: white;
    padding: 4px 10px;
    font-size: 13px;
    border-radius: 6px;
}

.projects table tbody tr td .completed {background-color: var(--blue-color);}

.projects table tbody tr td .in-progress { background-color: var(--green-color);}

.projects table tbody tr td .rejected {background-color: var(--red-color);}

.projects table tbody tr td .pending {background-color: var(--orange-color);}
/* End Content */

/* 
|-----------------------------------|
|---------- / Dashboard Style ------|
|-----------------------------------|
*/

/* 
|-----------------------------------|
|----------- Setting Style ---------|
|-----------------------------------|
*/

/* => Content => setting => Wrapper => site-control */
.setting .site-control .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.setting .site-control .row h4 {
    margin: 0;
    margin-bottom: 6px;
}

.setting .site-control textarea {
    width: 100%;
    resize: none;
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 5px;
    height: 170px;
}

/* => Content => setting => Wrapper => General Info */
.setting .general-info form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.setting .general-info form .input-gruop label {
    display: block;
    margin-bottom: 10px;
    color: var(--grey-color);
    font-size: 14px;
}

.setting .general-info form .input-gruop input:not(input[type=submit]) {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.setting .general-info form .input-gruop input[type=email] {
    color: #ddd;
    background: #f0f4f8;
    cursor: no-drop;
}

.setting .general-info form .input-gruop:last-of-type > div {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.setting .general-info form .input-gruop input[type=submit] {
    background: none;
    border: none;
    color: var(--blue-color);
    font-weight: 500;
    font-size: 17px;
}

/* => Content => setting => Wrapper => Security Info */
.setting .security-info form {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.setting .security-info form .input-gruop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.setting .security-info form .input-gruop:not(:last-child)::before {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #eee;
}

.setting .security-info form .input-gruop .col p {
    margin: 0;
    font-size: 15px;
    margin-bottom: 5px;
}

.setting .security-info form .input-gruop .col span {
    color: var(--grey-color);
    font-size: 13px;
}

.setting .security-info form .input-gruop .change-password {
    color: white;
    background: var(--blue-color);
    padding: 4px 10px;
    border-radius: 6px;
}

.setting .security-info form .input-gruop .device {
    color: #000;
    background: #eee;
    padding: 4px 10px;
    border-radius: 6px;
}
/* => Content => setting => Wrapper => Social Info */

.setting .social-info form {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.setting .social-info form div {
    display: flex;
    align-items: center;
}

.setting .social-info form div i {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    background-color: #f6f6f6;
    color: var(--grey-color);
    border-right: none;
    border-radius: 6px 0 0 6px;
}

.setting .social-info form div input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 0 6px 6px 0;
    background-color: #f6f6f6;
    height: 40px;
}

.setting .social-info form div:focus-within i {
    color: #000;
}

/* => Content => setting => Wrapper => Widgets Control */
.setting .widgets-control form .control {
    margin-bottom: 20px;
}

.setting .widgets-control form .control input[type=checkbox] {
    appearance: none;
}

.setting .widgets-control form .control label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

.setting .widgets-control form .control label::before {
    content: "";
    width: 14px;
    height: 14px;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid var(--grey-color);
    border-radius: 6px;
}

.setting .widgets-control form .control label::after {
    font-family: var(--fa-style-family-classic);
    content: "\f00c";
    font-weight: 900;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--blue-color);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
    transform: scale(0) rotate(360deg);
    transition: 0.3s;
}

.setting .widgets-control form .control input[type=checkbox]:checked + label::after {
    transform: scale(1);
}

/* => Content => setting => Wrapper => Backup Manager */
.setting .backup-manager form .row-1 {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

.setting .backup-manager form input {
    appearance: none;
    margin-bottom: 20px;
}

.setting .backup-manager form .row-1 .input-gruop label {
    position: relative;
    padding-left: 30px;
}

.setting .backup-manager form .row-1 .input-gruop label::before {
    content: "";
    position: absolute;
    top: 0px;
    left: -2px;
    width: 18px;
    height: 18px;
    border: 2px solid var(--grey-color);
    border-radius: 50%;
}

.setting .backup-manager form .row-1 .input-gruop label::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 3px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.3s;
}

.setting .backup-manager form .row-1 .input-gruop input[type=radio]:checked + label::before {
    border-color: var(--blue-color);
}

.setting .backup-manager form .row-1 .input-gruop input[type=radio]:checked + label::after {
    background: var(--blue-color);
    transform: scale(1)
}

.setting .backup-manager form .row-2 {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .setting .backup-manager form .row-2 {
        flex-wrap: wrap;
    }
}

.setting .backup-manager form .row-2 .server {
    border: 2px solid #eee;
    width: 100%;
    text-align: center;
    border-radius: 8px;

}

.setting .backup-manager form .row-2 .server label {
    margin: 15px;
    display: block;
    cursor: pointer;
}

.setting .backup-manager form .row-2 .server label i {
    display: block;
    margin-bottom: 12px;
}

.setting .backup-manager form .row-2 input[type=radio]:checked + .server {
    border-color: var(--blue-color);
    color: var(--blue-color)
}

/* 
|-----------------------------------|
|----------- Profile Style ---------|
|-----------------------------------|
*/

/* => Content => profile => overview */
.profile .overview {
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: start;
    align-items: center;
}

@media (max-width: 768px) {
    .profile .overview {
        flex-direction: column;
    }
    
}

.profile .overview .col-1 {
    width: 300px;
    text-align: center;
}

.profile .overview .col-1 img {
   width: 120px; 
}

.profile .overview .col-1 h3 {
    margin: 0;
    margin-top: 10px;
}

.profile .overview .col-1 span.level {
    color: var(--grey-color);
    display: block;
    margin: 10px 0;

}

.profile .overview .col-1 .progress-box {
    position: relative;
    background: #eee;
    width: 70%;
    height: 6px;
    border-radius: 6px;
    margin: 15px auto;
}

.profile .overview .col-1 .progress-box .progress {
    background: var(--blue-color);
    height: 6px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 6px;
}

.profile .overview .col-1 .stars i {
    font-size: 13px;
}

.profile .overview .col-1 span.rate {
    display: block;
    color: var(--grey-color);
    font-size: 13px;
    margin-top: 10px;
}

.profile .overview .col-2 {
    width: 100%;
}

.profile .overview .col-2 .row {
    display: flex;
    flex-wrap: wrap;
    border-left: 1px solid #eee;
    padding-left: 20px;
}

@media (max-width: 992px) {
    .profile .overview .col-2 .row {
        border-left: none;
        padding-left: 0;
    }
    
}

.profile .overview .col-2 .row:not(:last-child) {
    border-bottom: 1px solid #eee;
    padding-bottom: 12px;
}

.profile .overview .col-2 .row .profile-title {
    font-size: 15px;
    font-weight: 400;
    color: var(--grey-color);
    width: 100%;
}

.profile .overview .col-2 .row > div {
    margin-bottom: 10px;
    min-width: 250px;
}

.profile .overview .col-2 .row > div span {
    font-size: 14px;
}

.profile .overview .col-2 .row > div span:first-child {
    color: var(--grey-color);
}


.profile .overview .col-2 .row label {
    margin-top: -25px;
    display: block;
}
.profile .overview .col-2 .row .toggle-switch {
    height: 18px;
    width: 60px;
}

.profile .overview .col-2 .row .toggle-checkbox:checked + .toggle-switch::before {
    left: 44px;
    color: var(--blue-color);
}
.profile .overview .col-2 .row .toggle-switch::before {
    top: 3px;
    width: 12px;
    height: 12px;
    font-size: 9px;
}

/* => Content => profile => other-info */
.profile .other-info {
    margin: 20px;
    display: flex;
    gap: 20px;
}

@media (max-width: 768px) {
    .profile .other-info {
        flex-direction: column;
    }
}

.profile .other-info .my-skills {
    flex-grow: 1;
}

.profile .other-info .my-skills ul li {
    border-bottom: 1px solid #eee;
    padding: 15px 0;
}

@media (max-width: 768px) {
    .profile .other-info .my-skills ul li  {
        text-align: center;
    }
}

.profile .other-info .my-skills ul li:last-child {
    border-bottom: none;
}

.profile .other-info .my-skills ul li span {
    font-size: 14px;
    background-color: #eee;
    padding: 4px 10px;
    border-radius: 4px;
    margin-right: 8px;
}

.profile .other-info .latest-activities {
    flex-grow: 2;
}

.profile .other-info .latest-activities > div {
    padding-bottom: 25px;
    border-bottom: 1px solid #eee;
    padding-top: 25px;
}

.profile .other-info .latest-activities > div:first-child {
    padding-top: 0;
}

.profile .other-info .latest-activities > div:last-child {
    border: none;
}

.profile .other-info .latest-activities img {
    width: 64px;
}

.profile .other-info .latest-activities .activity-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .profile .other-info .latest-activities .activity-box {
        text-align: center;
        flex-direction: column;
        row-gap: 20px;
    }
}

.profile .other-info .latest-activities .activity-box div:first-of-type {
    flex: 1;
    margin-left: 10px;
}

.profile .other-info .latest-activities .activity-box div p {    
    margin: 0;
    margin-bottom: 5px;
}

.profile .other-info .latest-activities .activity-box div span {
    color: var(--grey-color);
    font-size: 15px;
}


/* 
|-----------------------------------|
|----------- Project Style ---------|
|-----------------------------------|
*/

/* => Content => Projects Page => project-box */
.projects-page {
    margin: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

@media (max-width: 768px) {
    .projects-page {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}
.projects-page .project-box {
    position: relative;
}

.projects-page .project-box .date {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 13px;
    color: var(--grey-color);
}

.projects-page .project-box .text {}

.projects-page .project-box .text p {
    /* margin: 0; */
    margin-bottom: 5px;
}

.projects-page .project-box .text span {
    font-size: 14px;
    color: var(--grey-color);
}

.projects-page .project-box .team {
    display: flex;
    justify-content: flex-end;
    margin: 50px 0 30px;
}

.projects-page .project-box .team img {
    width: 40px;
    border-radius: 50%;
    margin-right: -12px;
    border: 2px solid white;
}

.projects-page .project-box .team a:last-of-type img {
    margin-right: 0;
}

.projects-page .project-box .team a:hover img {
    position: sticky;
}

.projects-page .project-box .keys {
    display: flex;
    gap: 12px;
    align-items: center;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 20px 0;
}

@media (max-width: 768px) {
    .projects-page .project-box .keys  {
        flex-direction: column;
        align-items: flex-start;
    }
}

.projects-page .project-box .keys span {
    background: #eee;
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 13px;
}

.projects-page .project-box .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

@media (max-width: 768px) {
    .projects-page .project-box .info  {
        flex-direction: column;
        text-align: center;
    }
}

.projects-page .project-box .info .progress-box {
    width: 40%;
    background-color: #eee;
    height: 6px;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}

@media (max-width: 768px) {
    .projects-page .project-box .info .progress-box {
        margin: 10px auto;
        width: 90%;
    }
}

.projects-page .project-box .info .progress-box .progress {
    background-color: var(--blue-color);
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 0;
    height: 6px;
}

.projects-page .project-box .info .cost {
    font-size: 14px;
    color: var(--grey-color);
}

/* 
|-----------------------------------|
|----------- Course Style ---------|
|-----------------------------------|
*/

/* => Content => Course Page => course-box */
.courses-page {
    margin: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.courses-page .box {
    padding: 0;    
}

.courses-page .course-box {
    position: relative;
}

.courses-page .course-box img.person {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 64px;
    border-radius: 50%;
    border: 2px solid white;
}

.courses-page .course-box img.image-course {
    max-width: 100%;
}

.courses-page .course-box .text {
    padding: 0 20px
}

.courses-page .course-box .text p {
    font-weight: 700;
}

.courses-page .course-box .text span {
    font-size: 15px;
    color: var(--grey-color);
}

.courses-page .course-box .course-info {
    position: relative;
}

.courses-page .course-box .course-info::before {
    content: "";
    position: absolute;
    top: 14px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #eee;
}

.courses-page .course-box .btn-course-info {
    text-align: center;
    display: block;
    font-size: 14px;
    color: white;
    background: var(--blue-color);
    width: fit-content;
    padding: 4px 10px;
    border-radius: 6px;
    margin: 25px auto;
    position: relative;
}

.courses-page .course-box .info {
    padding: 0 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courses-page .course-box .info span  {
    font-size: 13px;
    color: var(--grey-color);
}


/* 
|-----------------------------------|
|----------- Friends Style ---------|
|-----------------------------------|
*/

/* => Content => Friends Page => Friends-box */
.friends-page {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 20px;
}

.friends-page .friends-box {
    position: relative;
    padding-top: 50px;
}

.friends-page .friends-box .contact {
    position: absolute;
    top: 12px;
    left: 12px;
}

.friends-page .friends-box .contact i {
    font-size: 13px;
    color: #666;
    background-color: #eee;
    border-radius: 50%;
    padding: 10px;
    margin-right: 4px;
}

.friends-page .friends-box img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

.friends-page .friends-box p {
    text-align: center;
    margin: 20px 0 7px;
    font-weight: 700;
}

.friends-page .friends-box > span:first-of-type {
    text-align: center;
    display: block;
    font-size: 13px;
    color: var(--grey-color);
}

.friends-page .friends-box .info {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-size: 14px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 20px 0;
}

.friends-page .friends-box .footer {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.friends-page .friends-box .footer span {
    flex: 1;
    color: var(--grey-color);
}

.friends-page .friends-box .footer a {
    color: white;
    padding: 4px 10px;
    border-radius: 6px;
}

/* 
|-----------------------------------|
|----------- Files Style -----------|
|-----------------------------------|
*/

/* => Content => Files Page => Files-box */
.files-page {
    display: flex;
    gap: 20px;
    margin: 20px;
    align-items: flex-start;
}

@media (max-width: 768px) {
    .files-page {
        flex-direction: column-reverse;
        align-items: normal;

    }
}

.files-page .files-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    flex: 1;
}

.files-page .files-content .file-box{
    position: relative;
}

.files-page .files-content .file-box:hover img {
    transform: rotate(10deg);
}

.files-page .files-content .file-box i {
    position: absolute;
    top: 15px;
    left: 15px;
    color: var(--grey-color);
}

.files-page .files-content .file-box img {
    width: 64px;
    display: block;
    margin: 20px auto;
    transition: 0.3s;

}

.files-page .files-content .file-box p.file-name {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}

.files-page .files-content .file-box span.author {
    font-size: 13px;
    color: var(--grey-color);
}

.files-page .files-content .file-box div {
    padding-top: 15px;
    font-size: 13px;
    color: var(--grey-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #eee;
    margin-top: 15px;
}

.files-page .files-stati {
    min-width: 260px;
}

.files-page .files-stati h2 {
    margin: 10px 0;
}

.files-page .files-stati .stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #eee;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 6px;
    gap: 10px;
}

.files-page .files-stati .stats i {
    padding: 13px;
}

.files-page .files-stati .stats .info {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    flex: 1;
}

.files-page .files-stati .stats .type {}

.files-page .files-stati .stats .counter {
    font-size: 12px;
    color: var(--grey-color);
}

.files-page .files-stati .stats .size {
    font-size: 13px;
    color: var(--grey-color);
}

.files-page .files-stati a {
    display: block;
    width: fit-content;
    margin: 10px auto;
    background: var(--blue-color);
    color: white;
    padding: 10px 13px;
    border-radius: 6px;
    font-size: 13px;
}

.files-page .files-stati a i {
    font-size: 14px;
    margin-right: 6px;
}

/* 
|-----------------------------------|
|----------- Plans Style -----------|
|-----------------------------------|
*/

/* => Content => Plans Page => Plans-box */
.plans-page {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 20px;
    margin: 20px;
}

@media (max-width: 992px) {
    .plans-page {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    
}

.plans-page .col-1 .plan-name {
    color: white;
    padding: 15px 0;
    text-align: center;
    border: 3px solid white;
    outline: 3px solid transparent;
}

.plans-page .col-1 .plan-name.bg-orange {
    outline-color: var(--orange-color);
}

.plans-page .col-1 .plan-name.bg-blue {
    outline-color: var(--blue-color);
}

.plans-page .col-1 .plan-name.bg-green {
    outline-color: var(--green-color);
}

.plans-page .col-1 .plan-name p {
    font-weight: 700;
    font-size: 24px;
    margin: 0;
    margin-bottom: 5px;
}

.plans-page .col-1 .plan-name .price {
    font-size: 40px;
    position: relative;
}

.plans-page .col-1 .plan-name .price::before {
    content: "$";
    font-size: 22px;
    position: absolute;
    top: 0;
    left: -14px;
}

.plans-page .col-1 .info {}

.plans-page .col-1 ul {
    margin: 20px 0;
}

.plans-page .col-1 ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.plans-page .col-1 ul li i.yes {
    color: var(--green-color);
    margin-right: 8px;
}

.plans-page .col-1 ul li i.fa-xmark {
    color: var(--red-color);
    margin-right: 8px;
}

.plans-page .col-1 ul li p {
    flex: 1;
}

.plans-page .col-1 ul li i:last-child {
    color: var(--grey-color);
}

.plans-page .col-1 a {
    color: white;
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 14px;
}

.plans-page .current-plan {
    color: var(--grey-color);
    font-size: 17px;
    display: block;
    text-align: center;
    font-weight: 500;
}